
.container {
  .links {
    display: none;
  }

  .name {
    font-family: GillSans-Light;
    font-size: 75px;
    left: 0;
    letter-spacing: 0;
    line-height: 54px;
    position: absolute;
    top: 0;
  }

  .boring-content {
    bottom: 50px;
    font-family: Palatino-Roman;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    position: absolute;
    width: 272px;
  }

  .tagline {
    font-family: GillSans-Light;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 46px;
    position: absolute;
    top: 109px;
    width: 272px;
  }
}
