
.container {
  .links {
    display: none;
  }

  .name {
    font-family: GillSans-Light;
    font-size: 75px;
    left: -10px;
    letter-spacing: 0;
    line-height: 54px;
    position: relative;
    top: -350px;
  }

  .boring-content {
    bottom: 50px;
    font-family: Palatino-Roman;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    position: relative;
    width: 272px;
  }

  .tagline {
    font-family: GillSans-Light;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 46px;
    position: relative;
    top: 30px;
    width: 272px;
  }
}

.about-page {
  transform: translateX(10000px);
}

.about .about-page {
  transform: translateX(0);
}
