.research-page {
  position: absolute;
  top: 8px;

  .page-title {
    font-family: GillSans-Light;
    font-size: 75px;
    left: -14px;
    letter-spacing: -7.31px;
    line-height: 50px;
    position: relative;
    top: -5px;

    div {
      display: inline;
    }
  }

  .interests-wrapper {
    .section-title {
      font-family: GillSans-LightItalic;
      font-size: 48px;
      // float: right;
      left: 26%;
      letter-spacing: 0;
      line-height: 35px;
      position: relative;
    }

    .section {
      font-family: GillSans-LightItalic;
      font-size: 30px;
      left: -7px;
      letter-spacing: 0;
      line-height: 23px;
      position: relative;
      text-align: justify;
      width: 93%;
    }
  }

  .subsection-selector {
    font-family: GillSans-Light;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 34px;
    padding-left: 30px;

    .selected {
      text-decoration: underline;
    }
  }

  .page-content {
    padding-left: 30px;
    padding-right: 45px;
    text-align: justify;
  }
}
