.work-page {
  position: absolute;
  transform: translateX(-10000px);
  transition: transform .3s;

  .page-title {
    font-family: GillSans-Light;
    font-size: 75px;
    left: -14px;
    letter-spacing: -7.31px;
    line-height: 50px;
    position: relative;
    top: -5px;

    div {
      display: inline;
    }
  }

  .section-title {
    font-family: GillSans-LightItalic;
    font-size: 48px;
    line-height: 70px;
  }

  .page-content {
    font-family: Palatino-Roman;
    font-size: 12px;
    position: absolute;
    top: 520px;
  }

  .skillz-wrapper {
    font-family: GillSans-LightItalic;
    font-size: 30px;
    line-height: 32px;
    max-width: 85%;

    .section {
      text-align: justify;
    }
  }
}

.work .work-page {
  transform: translateX(0);
}
