$text-color: #555;
@import 'about';
@import 'research';

.app {
  color: $text-color;
  text-decoration: none;
}

.side-nav-links {

  font-family: GillSans-LightItalic;
  font-size: 43px;
  left: 48%;
  letter-spacing: 0;
  line-height: 70px;
  position: relative;
  top: 350px;
  transform: rotate(-90deg);
  z-index: 1000;

  .side-nav-link {
    margin-left: 5px;
  }

  .link {

    &:link {
      color: $text-color;
    }
  }
}



.thing {
  font-family: Palatino-Roman;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;


  .title {
    font-family: Palatino-Italic;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 25px;
  }
}
