.container {
  // border: 1px solid #979797;
  height: 452px;
  left: calc(50% - 400px);
  position: absolute;
  top: calc(50% - 225px);
  width: 793px;

  .tagline {
    bottom: 110px;
    display: inline-block;
    font-size: 64px;
    height: 230px;
    left: -116px;
    line-height: 57px;
    position: relative;
    transform: rotate(270deg);
    width: 450px;

    div {
      text-align: justify;

      &.special-line {
        letter-spacing: -6px;
      }
    }
  }

  .name {
    display: inline-block;
    font-size: 144px;
    height: 200px;
    letter-spacing: 0;
    line-height: 100px;
    position: relative;
    right: 0;
    text-overflow: wrap;
    top: -309px;
    white-space: normal;
    width: 634px;
  }

  .boring-content {
    bottom: -8px;
    font-family: Palatino-Roman;
    font-size: 14px;
    height: 260px;
    left: 217px;
    letter-spacing: 1px;
    line-height: 33px;
    position: absolute;
    text-align: justify;
    width: 385px;
  }

  .links {
    bottom: -22px;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 68px;
    position: absolute;
    right: 0;
    text-align: right;

    .link:link {
      color: $text-color;
    }
  }
}
