.research-page {
  transform: translateY(10000px);
  transition: transform .6s;

  .page-title {
    font-size: 144px;
    height: 452px;
    left: -14px;
    letter-spacing: 0;
    line-height: 100px;
    position: absolute;
    text-align: justify;
    top: -3px;
    transform: rotate(-90deg);

    .special-justify {
      letter-spacing: 19px;
    }
  }

  .section-title {
    font-family: GillSans-LightItalic;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 48px;
  }

  .section {
    font-family: GillSans-LightItalic;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 34px;
  }

  .interests-wrapper {
    left: 100px;
    position: relative;
    text-align: justify;
    width: calc(100% - 100px);
  }

  .subsection-selector {
    bottom: 0;
    cursor: pointer;
    font-family: GillSans-Light;
    font-size: 20px;
    left: 200px;
    letter-spacing: 0;
    line-height: 34px;
    position: relative;

    .selected {
      text-decoration: underline;
    }
  }

  .page-content {
    bottom: 0;
    left: 200px;
    position: relative;
    top: 0;
  }
}

.research .research-page {
  transform: translateY(0);
}
