$title-blue: #a5c4be;
$link-blue: #20476e;
$background-tan: #dfd2b0;
$image-background-black: #0c140c;
$text-black: #0b140c;

@import url('https://fonts.googleapis.com/css?family=Roboto');

// scss-lint:disable UrlFormat, IdSelector

@import 'publications';
@import 'projects';
@import 'radar';

html,
body,
#app,
#app > div {
  background-color: $background-tan;
  color: $text-black;
  height: 100%;
  margin: 0;
}

.root-wrapper {
  display: flex;
  height: 100%;
}

.footer {
  min-height: 200px;
  width: 100%;
}

.top-links {
  align-items: center;
  background-color: $background-tan;
  box-shadow: 0 2px 4px 0 $image-background-black;
  display: none;
  justify-content: space-between;
  left: 0;
  min-height: 50px;
  padding: 0 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.top-link-title {
  font-family: Roboto-Light;
  font-size: 24px;
  white-space: nowrap;
}

.link-menu {
  font-family: Roboto-Light;
  font-size: 24px;

  .internal-link {
    color: $text-black;
    font-size: 20px;
    padding: 0 10px;
    text-decoration: none;

    &:visted {
      color: $text-black;
    }

    &.selected-link {
      font-weight: 600;
    }
  }
}

.text-block {
  font-family: Roboto-Light;
  font-size: 14px;
  width: 100%;
}

.pic-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 200px;
  width: 100%;

  .profpic {
    background: url('https://s3-us-west-1.amazonaws.com/mcnutt-static-images/profpic.jpeg');
    background-size: 150px 150px;
    height: 150px;
    margin-top: 30px;
    width: 150px;
  }

  .project-image {
    margin-bottom: 30px;
    margin-top: 30px;
    max-height: 200px;
    max-width: 260px;
    opacity: .7;
  }
}

.about-page .pic-wrapper {
  padding: 30px;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 70px 40px;
  width: auto;
}


// LEFT PANEL STYLING
.left-panel {
  background: url('https://s3-us-west-1.amazonaws.com/mcnutt-static-images/left-panel-background.jpg');
  background-color: $image-background-black;
  background-position-x: -700px;
  background-position-y: -300px;
  background-size: 1200px 1200px;
  color: $title-blue;
  display: flex;
  flex-direction: column;
  font-family: Roboto-Thin;
  height: auto;
  max-height: 100%;
  padding: 64px;
  position: relative;
  width: 320px;
}

.title {
  font-size: 72px;
  z-index: 1;
}

.subtitle {
  font-size: 48px;
  z-index: 1;
}

.social-links a {
  color: $title-blue;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;

  &::after {
    content: '•';
    padding: 0 2px;
  }

  &:visited {
    color: $title-blue;
  }

  &:last-child::after {
    content: '';
  }
}

// RIGHT PANEL STYLING
.right-panel {
  background-color: $background-tan;
  display: flex;
  flex-direction: column;
  height: 100%;

  width: 100%;

  .link-menu {
    padding: 7px 30px;
  }
}

@import './hamburger';

// desktop adjustments
@media screen and (min-width: 900px) {
  .right-panel {
    overflow: scroll;
  }
}

// tablet adjustments
@media screen and (max-width: 900px) and (min-width: 600px) {
  .root-wrapper {
    flex-direction: column;
  }

  .left-panel {
    min-height: 305px;
    width: 100%;
  }

  .link-menu {
    display: none;
  }

  .top-links,
  .top-links .link-menu {
    display: flex;
  }
}

// mobile adjustments
@media screen and (max-width: 600px) {
  .root-wrapper {
    flex-direction: column;
  }

  .link-menu,
  .top-links,
  .research .left-panel,
  .projects .left-panel {
    display: none;
  }

  .left-panel {
    margin-top: 50px;
  }

  .hamburger-menu {
    display: flex;
  }

  .left-panel {
    height: 600px;
    justify-content: flex-end;
    padding: 0 20px;
    width: 100%;
  }

  .title,
  .subtitle,
  .social-links {
    font-size: 36px;
  }

  .radar-wrapper {
    flex-direction: column;
    min-height: 600px;
  }
}
