
.project-block {
  border-bottom: thin solid $image-background-black;
  margin-bottom: 25px;
}

.project-title,
.project-links a,
.project-links span {
  color: $link-blue;
  font-family: Roboto-BoldItalic, sans-serif;
  font-size: 18px;
  text-decoration: none;

  &:visted {
    color: $link-blue;
  }
}

.project-links a {
  font-size: 14px;
}

.project-dates {
  font-family: Roboto-Bold, sans-serif;
  font-size: 16px;
  opacity: .8;
}

.project-header-wrap {
  display: flex;
}
