.work-page {
  .page-title {
    bottom: 20px;
    font-family: GillSans-Light;
    font-size: 144px;
    left: -21px;
    letter-spacing: 0;
    line-height: 100px;
    position: absolute;
    transform: rotate(-90deg);
    width: 144px;
  }

  .skillz-wrapper {
    left: 144px;
    position: absolute;
    top: 0;

    .section {
      line-height: 30px;
      margin-left: 50px;
      max-width: 557px;
      text-align: justify;
    }

    .section-title {
      position: absolute;
      right: -72px;
      top: 38px;
      transform: rotate(90deg);
    }
  }

  .section-title {

    font-family: GillSans-LightItalic;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 40px;
  }

  .section {
    font-family: GillSans-Light;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 19px;
  }

  .page-content {
    bottom: 0;
    left: 144px;
    position: absolute;

    .section-title {
      left: -165px;
      position: absolute;
      top: 118px;
      transform: rotate(-90deg);
    }
  }
}
