$text-color: #555;
@import 'about-page';
@import 'research-page';
@import 'work-page';


.app {
  color: $text-color;
  font-family: GillSans-Light;
}

.side-nav-links {
  font-size: 15px;
  left: 0;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 0;
  width: 452px;
  z-index: 1000;

  .side-nav-link {
    margin-left: 5px;
  }

  .link {
    text-decoration: none;

    &:link {
      color: $text-color;
    }
  }
}

.thing {
  font-family: Palatino-Roman;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;

  .thing-body {
    left: 40px;
    max-width: 545px;
    position: relative;
  }
}
